<link rel="stylesheet" href="/Global/sc-map-search/style/sc-map-search.css">
<link rel="stylesheet" href="/Global/sc-map-search/style/spinner.css">

<div id="sc-map-search">
  <div class="sc-map-inner">
    <div class="sc-map-search-left">
      <div class="sc-map-search-box">
        <h1>Enter your ZIP Code below.</h1>
        <input id="zip-box" type="text" maxlength="5">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
        <div class="error-reporter">
        </div>
      </div>
      <div class="sc-map-search-results sc-map-results-desktop">
        <h1><span class="num-of-clubs"></span> clubs located within 50 miles:</h1>
        <div id="sc-map-results-list" class="sc-map-results-list">
        </div>
      </div>
    </div>
    <div id="sc-map-search-map" class="sc-map-search-map">
      
    </div>
    <div class="sc-map-results-lower sc-map-results-mobile">
      <div class="sc-map-search-results">
        <h1><span class="num-of-clubs"></span> clubs located within 50 miles:</h1>
        <div id="sc-map-results-list2" class="sc-map-results-list">
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<script src="/Global/sc-map-search/script/axios.min.js"></script>
<script src="/Global/sc-map-search/script/jquery.ba-throttle-debounce.js"></script>
<script src=/Global/sc-map-search/script/sc-map-search.js></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK0RiloDXxxreNhQPn5oP2yEIZ_fw2jKY&callback=initMap"
  async defer></script>