#sc-map-search h1 {
  color: #02528a;
  font-family: "Bree Serif", serif;
  font-size: 1em;
  font-weight: 200;
  margin: 0 0 15px;
}

#sc-map-search h2 {
  color: #02528a;
  font-family: sans-serif;
  font-size: .75em;
  margin-left: 15px;
}

.clear {
  clear:both;
}

.sc-map-results-desktop {
  display: none;
}

#sc-map-search {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  display: flex;
  min-height: 562px;
  margin: 20px auto 0;
  max-width: 1178px;
  padding: 20px;
  width: 100%;
}

.sc-map-inner {
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
}

.sc-map-search-left {
  padding: 0 0 20px;
  position: relative;
  width: 100%;
}

.sc-map-search-box {
  position: relative;
}

.sc-map-search-box .spinner {
  display: none;
  height: 25px;
  position: absolute;
  right: 5px;
  bottom: 25px;
  width: 25px;
}


.sc-map-search-left input {
  background-color: #ececec;
  border: none;
  box-sizing: border-box;
  color: #585756;
  font-family: 'Bree Serif', serif;
  font-size: 1.2em;
  height: 35px;
  margin: 0 0 10px;
  outline: none;
  padding: 5px 15px;
  width: 100%;
}

.sc-map-search-results h1 {
  display: none;
}

.sc-map-results-list a {
  background-color: #ececec;
  border: none;
  color: #585756;
  display: block;
  font-family: 'aktiv_groteskregular', sans-serif;
  font-size: .8em;
  margin-bottom: 1px;
  outline: none;
  padding: 10px 15px;
  text-decoration: none;
  width: 100%;
}

.sc-map-search-map {
  margin-bottom: 20px;
  padding: 20px;
  height: 521px;
  width: 100%;
}

.error-reporter {
  display: none;
  position: absolute;
  right: -110px;
  top: 31px;
  background-color: rgba(00, 00, 00, .65);
  padding: 10px 20px;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.45);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.45);
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.45);
  z-index: 9999;
}

.error-reporter::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -3px;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(00, 00, 00, .65) transparent transparent;
}

.error-reporter h2 {
  color: #ff4545;
  margin: 0;
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  .sc-map-results-desktop {
    display: block;
  }
  .sc-map-results-mobile {
    display: none;
  }
  .sc-map-inner {
    display: flex;
  }
  .sc-map-search-left {
    padding: 0 20px 20px;
    padding-left: 0;
    width: 25%;
  }
  .sc-map-search-left input {
    margin: 0 0 20px;
  }
  .sc-map-search-map {
    margin-bottom: 0;
    width: 75%;
  }
}